{% extends "main.html" %}
{% load static %}
{% block content %}

<br>
<div class="container">
    <div class="card" style="width: 100%;">
        <div class="card-header text-center">
            <img src="{% static 'imgs/gitlab.svg' %}">
        </div>
        <div class="card-body text-center">
            <br>
            <h1 class="gitlab_header">
                Let's build from here
            </h1>
            <br>
            <p class="f2-mktg color-fg-muted text-normal mb-4">
                The complete developer platform to build, scale, and deliver secure software.
            </p>

            <br>
            {% for git in gitlab_data %}
            <div class="d-flex justify-content-center ">
                <div class="col-6 col-sm-4 col-md-3">
                    <h2 class="textcontent">1000<span class="color-fg-muted">+</span></h2>
                    <p class="textdesign">Developers</p>

                </div>


                <div class="col-6 col-sm-4 col-md-3">
                    <h2 class="textcontent">{{git.version}}<span class="color-fg-muted"></span></h2>
                    <p class="textdesign">Version</p>
                </div>

                <div class="col-sm-4 col-md-3 d-none d-md-block">
                    <h2 class="textcontent">600<span class="color-fg-muted">+</span></h2>
                    <p class="textdesign">Projects</p>
                </div>
            </div>
            <br>
            <button type="button" class="{% if git.status == 'Working' %}btn btn-success{% else %}btn btn-danger{% endif %}">
                {% if git.status == 'Working' %}Working...{% else %}Failure{% endif %}
            </button>
            {% endfor %}
            <br><br>
            <picture>
              <source srcset="https://github.githubassets.com/assets/octocats-656a28e14a2f.webp" type="image/webp">
              <img src="https://github.githubassets.com/assets/octocats-ca1ef4dbee6f.png" alt="An array of octocats working and enjoying life" class="mx-auto width-fit height-auto p-responsive mb-6" width="65%" height="65%">
            </picture>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="card" style="width: 100%;">
        <div class="card-header text-center">
            <img src="{% static 'imgs/jfrog_artifactory.svg' %}">
        </div>
        <div class="card-body">
            <table class="table table-striped text-center">

                <tr>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Status</th>
                </tr>
                {% for artifactory in artifactories %}
                <tr>
                    <td>{{artifactory.name}}</td>
                    <td><a href={{artifactory.url}} type="button" class="btn btn-secondary">Artifactory Link</a></td>
                    <td>
                        {% if artifactory.status == 'Working' %}
                            <button type="button" class="btn btn-success">{{artifactory.status}}</button>
                        {% elif artifactory.status == 'Warning' %}
                            <button type="button" class="btn btn-warning">{{artifactory.status}}</button>
                        {% elif artifactory.status == 'Failure' %}
                            <button type="button" class="btn btn-danger">{{artifactory.status}}</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="card" style="width: 100%;">
        <div class="card-header text-center">
            <img src="{% static 'imgs/jenkins.svg' %}">
        </div>
        <div class="card-body text-center">
            <table class="table table-striped text-center">
                {% for server in jenkins_server_details %}
                    {% if forloop.counter0|divisibleby:4 %}
                        </tr>
                    {% endif %}
                    {% if forloop.first or forloop.counter0|divisibleby:4 %}
                        <tr>
                    {% endif %}
                    <td>
                        {% if server %}
                            {% if server.status == 'Working' %}
                                <button type="button" class="btn btn-success">{{ server.server_url }}</button>
                            {% elif server.status == 'Warning' %}
                                <button type="button" class="btn btn-warning">{{ server.server_url }}</button>
                            {% elif server.status == 'Failure' %}
                                <button type="button" class="btn btn-danger">{{ server.server_url }}</button>
                            {% endif %}
                        {% else %}
                            {# Empty cell if there is no server for this position in the row #}
                        {% endif %}
                    </td>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="card" style="width: 100%;">
        <div class="card-header text-center">
            <img src="{% static 'imgs/sonar.svg' %}">
        </div>
        <div class="card-body text-center">
            <br>
            <h1 class="gitlab_header">
                Continuous Inspection Powered by SonarQube
            </h1>
            <br>
            <p class="f2-mktg color-fg-muted text-normal mb-4">
                Identify and fix code quality and security issues early in your development process.
            </p>

            <br>
            {% for sonar in sonar_instance %}
            <div class="d-flex justify-content-center ">
                <div class="col-6 col-sm-4 col-md-3">
                    <h2 class="textcontent">{{ sonar.health }}<span class="color-fg-muted"></span></h2>
                    <p class="textdesign">Status</p>
                </div>

                <div class="col-6 col-sm-4 col-md-3">
                    <h2 class="textcontent">{{ sonar.version }}<span class="color-fg-muted"></span></h2>
                    <p class="textdesign">Version</p>
                </div>
            </div>
            <br>
            <a href={{sonar.url}} type="button" class="{% if sonar.health == 'UP' %}btn btn-success{% else %}btn btn-danger{% endif %}">
                {% if sonar.health == 'UP' %}Working...{% else %}Failure{% endif %}
            </a>
            {% endfor %}
            <br><br>
            <picture>
                <img src="{% static 'imgs/header_.svg' %}" alt="An array of octocats working and enjoying life" class="mx-auto width-fit height-auto p-responsive mb-6" width="65%" height="65%">
            </picture>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="card" style="width: 100%;">
        <div class="card-header text-center">
            <img src="{% static 'imgs/g8.svg' %}" alt="Twistlock Logo">
        </div>
        <div class="card-body text-center">
            <br>
            <h1 class="twistlock_header">
                Empowering Security with Twistlock
            </h1>
            <br>
            <p class="f2-mktg color-fg-muted text-normal mb-4">
                Twistlock - Your security solution for cloud-native applications.
            </p>

            <br>
            <div class="d-flex justify-content-center">
                {% for twistlock_instance in twistlock_data %}
                    <div class="col-6 col-sm-4 col-md-3">
                        <h2 class="textcontent">{{ twistlock_instance.version }}<span class="color-fg-muted"></span></h2>
                        <p class="textdesign">Version</p>
                    </div>

                    <div class="col-6 col-sm-4 col-md-3">
                        <h2 class="textcontent">{{ twistlock_instance.status }}<span class="color-fg-muted"></span></h2>
                        <p class="textdesign">Status</p>
                    </div>
                {% endfor %}
            </div>
            <br>
            <button type="button" class="{% if twistlock_data.0.status == 'Active' %}btn btn-success{% else %}btn btn-danger{% endif %}">
                {% if twistlock_data.0.status == 'Active' %}Active{% else %}Inactive{% endif %}
            </button>
            <br><br>
            <picture>
                <source srcset="{% static 'imgs/terminal.gif' %}" type="image/webp">
                <img src="{% static 'imgs/terminal.gif' %}" alt="Twistlock Image" class="mx-auto width-fit height-auto p-responsive mb-6" width="20%" height="20%">
            </picture>
        </div>
    </div>
</div>


{% endblock content %}