{% extends "main.html" %}
{% load static %}
{% block content %}

<br>
<div class="container">
    <div class="card" style="width: 100%;">
        <div class="card-header text-center">
            <img src="{% static 'imgs/jenkins.svg' %}">
        </div>
        <div class="card-body text-center">
            <table class="table table-striped text-center">
                {% for server in jenkins_server_details %}
                    {% if forloop.counter0|divisibleby:4 %}
                        </tr>
                    {% endif %}
                    {% if forloop.first or forloop.counter0|divisibleby:4 %}
                        <tr>
                    {% endif %}
                    <td>
                        {% if server %}
                            {% if server.status == 'Working' %}
                                <button type="button" class="btn btn-success">{{ server.jenkins_url }}</button>
                            {% elif server.status == 'Warning' %}
                                <button type="button" class="btn btn-warning">{{ server.jenkins_url }}</button>
                            {% elif server.status == 'Failure' %}
                                <button type="button" class="btn btn-danger">{{ server.jenkins_url }}</button>
                            {% endif %}
                        {% else %}
                            {# Empty cell if there is no server for this position in the row #}
                        {% endif %}
                    </td>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}